@keyframes anim-rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-track {
    background: rgba(50,50,50,.65);
    border-radius: 2px
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(238,238,238,.5)
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #eee
}

body::-webkit-scrollbar-track {
    background: #323232;
    border-radius: 2px
}

body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(238,238,238,.85)
}

div#cbi-docker.cbi-map div.pure-g.status div.pure-u-1-4,div#cbi-dockerd.cbi-map div.pure-g.status div.pure-u-1-4,div#maincontent div.container table.table tbody#tableBody {
    background-color: rgba(7,34,62,.5)
}

@font-face {
    font-family:'HomeLedeIcomoon';
    src:url(../fonts/icomoon.woff?p86j8) format('woff');
    font-weight:400;
    font-style:normal;
    font-display:block
}

@font-face {
    font-family:'icomoon';
    src:url(../fonts/font.woff) format('woff');
    font-weight:400;
    font-style:normal
}

.table {
    display: table
}

.tr {
    display: table-row
}

.thead {
    display: table-header-group
}

.tbody {
    display: table-row-group
}

.tfoot {
    display: table-footer-group
}

.td,.th {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding: 12px;
    line-height: 1.42857143;
    border-top: 1px solid rgba(7,34,62,.4);
    white-space: nowrap
}

.th {
    font-weight: 700
}

.table[width="33%"],.td[width="33%"],.th[width="33%"] {
    width: 33%
}

.table[width="100%"],.td[width="100%"],.th[width="100%"] {
    width: 100%
}

fieldset>.table>.tbody>.tr:nth-of-type(odd),fieldset>table>tbody>tr:nth-of-type(odd),tr:nth-of-type(2n+1) {
    background-color: #2c435b
}

fieldset>.table>.tbody>.tr:nth-of-type(even),fieldset>table>tbody>tr:nth-of-type(even),tr:nth-of-type(2n) {
    background-color: rgba(44,67,91,.85)
}

.cbi-button-down,.cbi-button-up,.cbi-value-helpicon,.main>.loading>span,.showSide {
    font-family: 'icomoon',Roboto!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cbi-value-helpicon,.main>.loading>span,.showSide {
    font-size: 10px
}

*,body {
    padding: 0
}

*,html {
    margin: 0
}

* {
    box-sizing: border-box
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h4,h5,h6 {
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    clear: both
}

a,h2 {
    color: #fff
}

h2 {
    line-height: 1.1
}

h2,h3 {
    clear: both
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10pt;
    padding: 0;
    scrollbar-color: rgba(238,238,238,.5) #323232;
    scrollbar-width: thin
}

body {
    height: 100%;
    background: #07223e url(../images/main_bg.jpg) fixed center center;
    background-size: cover
}

body,body div {
    line-height: 150%
}

a {
    text-decoration: none
}

a:hover {
    color: #0ff
}

em {
    font-style: normal!important
}

select {
    padding: .36rem .8rem;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc
}

input,select {
    padding: 0 10px;
    height: 34px
}

.cbi-dropdown,.h1,.h2,.h3,.h4,.h5,.h6,body,h1,h2,h3,h4,h5,h6,input,select {
    font-family: Arial,'PingFang SC','Microsoft Yahei',sans-serif
}

.cbi-dropdown,body,input,select {
    color: #fff;
    margin: 0
}

.cbi-dropdown,input,select {
    line-height: normal;
    font-size: 1.2rem;
    background-color: rgba(7,34,62,.5);
    transition: color 150ms ease,border-color 150ms ease,opacity 150ms ease;
    -webkit-transition: color 150ms ease,border-color 150ms ease,opacity 150ms ease;
    outline-style: none;
    vertical-align: baseline;
    border-radius: 0;
    border: 1px solid rgba(255,255,255,.5)
}

input:focus,select:not([multiple=multiple]):focus {
    border-color: #0ff
}

select[multiple=multiple] {
    height: auto
}

code {
    color: #09c
}

abbr {
    color: #0ff;
    text-decoration: underline;
    cursor: help
}

hr {
    margin: 1rem 0;
    border-color: #eee;
    opacity: .1
}

.main,header {
    width: 100%
}

header,header>.container>.brand {
    color: #fff;
    height: 4.5rem;
    float: left
}

header {
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    transition: box-shadow .2s;
    position: fixed;
    z-index: 2000;
    background: linear-gradient(90deg,rgba(7,34,62,.67),rgba(81,100,120,.67))!important
}

body>header>div>a.brandWithBackground {
    background: url(../images/brand.png) 50% 50%/171px 50px no-repeat rgba(7,34,62,.8)
}

.main>.loading,footer {
    width: 100%;
    display: block
}

footer {
    text-align: right;
    padding: 1rem;
    color: #e1e3e4;
    font-size: 12px;
    margin: 0 auto;
    bottom: 0
}

footer>a {
    color: #e1e3e4;
    text-decoration: none
}

.main {
    top: 4.5rem;
    bottom: 0;
    position: relative;
    height: calc(100% - 45rem)
}

.main>.loading {
    position: fixed;
    height: 100%;
    z-index: 1000;
    background-color: rgba(44,67,91,.7);
    top: 0
}

.main>.loading>span {
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    color: #fff;
    font-size: 2.5rem
}

.main>.loading>span>.loading-img:before {
    font-family: 'HomeLedeIcomoon'!important;
    content: "\e981";
    color: #0ff
}

.main>.loading>span>.loading-img {
    animation: anim-rotate 1s infinite linear;
    margin-right: 1rem;
    display: inline-block
}

[id^=cbi-apply-][id$=-status] {
    background: 0 0;
    font-size: 1rem;
    height: auto;
    top: 140px
}

[id^=cbi-apply-] {
    position: absolute;
    z-index: 200;
    left: 50%;
    top: calc(50vh - 9rem);
    font-size: 1.2rem;
    text-align: center;
    width: 300px;
    height: 180px;
    transform: translate(-50%,-50%);
    background: rgba(100,181,246,.9);
    color: #fff;
    transition: all .3s ease-in-out
}

[id^=cbi-apply-]>.panel-title {
    border-bottom: none;
    background: 0 0
}

.cbi-map-descr+fieldset,[id^=cbi-apply-]>img {
    margin-top: 1rem
}

.main-left,.main-right {
    top: 4.5rem;
    height: calc(100% - 4.5rem)
}

.main-left {
    float: left;
    width: calc(0% + 18rem);
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
    overflow-x: auto;
    position: fixed;
    scrollbar-color: rgba(238,238,238,.5) rgba(50,50,50,.3);
    scrollbar-width: thin;
    text-shadow: 1px 1px 5px #000;
    background: linear-gradient(rgba(81,100,120,.8),rgba(7,34,62,.67))!important
}

.main-right {
    float: right;
    width: calc(100% - 18rem);
    text-shadow: 0 1px 1px #222
}

.pull-right {
    float: right;
    margin-top: 10px;
    margin-right: 10px
}

.pull-left {
    float: left
}

header>.container {
    margin: 0;
    padding: 0
}

header>.container>.brand {
    font-size: 28px;
    line-height: 4.5rem;
    cursor: default;
    background-color: rgba(7,34,62,.33);
    display: block;
    width: 18rem;
    padding-right: 10px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: Apple Chancery,"Edwardian Script ITC",Arial,sans-serif
}

.brandMark:after {
    content: "\e9af";
    font-size: 14px;
    font-family: 'HomeLedeIcomoon'!important;
    position: absolute;
    top: -10px;
    font-weight: 400!important
}

.danger {
    background-color: salmon!important;
    color: #000
}

.success,.warning {
    background-color: khaki!important;
    color: #000
}

.success {
    background-color: #64b5f6!important
}

.alert-message,.errorbox {
    margin: 5px 0 0;
    padding: 1rem;
    border: 0;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-family: inherit;
    min-width: inherit;
    overflow: auto;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12)
}

.errorbox {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.error,.node-system-packages>.main .cbi-value>pre.error {
    color: #d92323
}

.alert-message>h4 {
    font-weight: 700;
    font-size: 110%
}

.alert-message>* {
    margin: .5rem 0
}

#maincontent>.container>div:nth-child(1).alert-message.warning>a {
    font: inherit;
    overflow: visible;
    text-transform: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    min-width: 6rem;
    padding: .5rem 1rem;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    margin-top: 2rem;
    text-decoration: inherit
}

.main>.main-left>.nav {
    margin-top: 2rem;
    font-size: 16px
}

.main>.main-left>.nav>li a {
    color: #fff;
    display: block
}

.main>.main-left>.nav>li:nth-last-child(1) {
    height: 40px
}

.main>.main-left>.nav>li {
    cursor: pointer
}

.cbi-value-field>input+.cbi-value-description,.main>.main-left>.nav>.slide {
    padding: 0
}

.main>.main-left>.nav>.slide>a:before,.main>.main-left>.nav>li>a[data-title=Logout]:before {
    top: -1px;
    left: -10px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    font-family: 'HomeLedeIcomoon'!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    border-radius: 50%;
    background-color: transparent
}

.main>.main-left>.nav>.slide>a[data-title=Status]:before {
    content: "\e900";
    color: #00bfff!important
}

.main>.main-left>.nav>.slide>a[data-title=System]:before {
    content: "\e994";
    color: #c04def!important
}

.main>.main-left>.nav>.slide>a[data-title=Services]:before {
    content: "\e904";
    color: #0ff!important
}

.main>.main-left>.nav>.slide>a[data-title=NAS]:before {
    content: "\e9c5";
    color: #39ea49!important
}

.main>.main-left>.nav>.slide>a[data-title=Control]:before {
    content: "\e953";
    color: #f25056!important
}

.main>.main-left>.nav>.slide>a[data-title=dns]:before {
    content: "\e9a5";
    color: #008b8b!important
}

.main>.main-left>.nav>.slide>a[data-title=VPN]:before {
    content: "\e9af";
    color: #1da4f6!important
}

.main>.main-left>.nav>.slide>a[data-title=Network]:before {
    content: "\e9bc";
    color: #c04def!important
}

.main>.main-left>.nav>.slide>a[data-title="Bandwidth Monitor"]:before {
    content: "\e9a6";
    color: #0ff!important
}

.main>.main-left>.nav>.slide>a[data-title=Statistics]:before {
    content: "\e99b";
    color: #39ea49!important
}

.main>.main-left>.nav>.slide>a[data-title=QOS]:before {
    content: "\e99d";
    color: #f3a4b5!important
}

.main>.main-left>.nav>.slide>a[data-title=Docker]:before {
    content: "\e901";
    color: #6c0!important
}

.main>.main-left>.nav>li>a[data-title=Logout]:before {
    content: "\ea14";
    color: #fff!important
}

.main>.main-left>.nav>li>a[data-title=Logout],.main>.main-left>.nav>li>a[data-title=Reboot] {
    padding-left: 36px;
    line-height: 40px
}

.main>.main-left>.nav>.slide>.slide-menu>.active>a,.main>.main-left>.nav>.slide>.slide-menu>li:hover,.main>.main-left>.nav>.slide>.slide-menu>li>a:hover,.main>.main-left>.nav>li>a[data-title=Logout]:hover {
    color: #0ff
}

.main>.main-left>.nav>li>a[data-title=Reboot]:before {
    content: "\ea14"
}

.main>.main-left>.nav>.slide>ul {
    display: none;
    list-style: dotted
}

.main>.main-left>.nav>.slide>.menu {
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    cursor: default
}

.main>.main-left>.nav>.slide>.menu:hover,.main>.main-left>.nav>.slide>.slide-menu>.active:hover,.main>.main-left>.nav>li:hover {
    color: #0ff;
    cursor: hand
}

.main>.main-left>.nav>.slide:hover {
    background: 0 0
}

.slide-menu {
    overflow: hidden
}

.main>.main-left>.nav>.slide>.slide-menu>li {
    padding: 6px 50px;
    font-size: 14px!important;
    position: relative
}

.slide-menu li a:before,.slide-menu li:before {
    content: "";
    position: absolute;
    display: block;
    z-index: 1
}

.slide-menu li:before {
    left: 30px;
    top: -50%;
    bottom: 50%;
    width: 1px
}

div.main div.main-left ul.nav li.slide a {
    outline: 0
}

.main>.main-left>.nav>.slide>.slide-menu>li>a {
    position: relative;
    display: block;
    color: #fff;
    text-shadow: 0 1px 3px #222;
    vertical-align: middle
}

.slide-menu li a:before {
    left: -20px;
    top: 50%;
    width: 15px
}

li {
    list-style-type: none
}

#maincontent>.container {
    margin: 0 2rem 1rem;
    border-radius: .5rem
}

h1,h2,h3 {
    padding: .5rem
}

h1 {
    font-size: 2rem;
    border-bottom: 1px solid #eee
}

h2,h3 {
    font-weight: 700
}

h2 {
    margin: 1rem 0 0;
    font-size: 1.5rem
}

h3 {
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
    line-height: 1.5;
    letter-spacing: .1rem;
    background: #07223e;
    transition: background .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out
}

label {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle
}

.panel-title,fieldset,h3 {
    display: block;
    color: #fff
}

fieldset {
    margin: 10px 0 0;
    padding: 2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-family: inherit;
    min-width: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: .5rem;
    -webkit-overflow-scrolling: touch;
    background-repeat: no-repeat;
    background-color: rgba(7,34,62,.5);
    background-size: cover;
    background-position: center center;
    border: 0 solid #07223e;
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    position: relative;
    scrollbar-color: rgba(238,238,238,.5) rgba(50,50,50,.3);
    scrollbar-width: thin
}

fieldset>legend {
    display: none!important
}

fieldset>fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none
}

.panel-title {
    width: 100%;
    margin-bottom: 0;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: #07223e;
    line-height: 1.5;
    letter-spacing: .1rem;
    font-weight: 700
}

.table,table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #07223e
}

.table>.tbody>.tr>.td,.table>.tbody>.tr>.th,.table>.tfoot>.tr>.td,.table>.tfoot>.tr>.th,.table>.thead>.tr>.td,.table>.thead>.tr>.th,table>tbody>tr>td,table>tbody>tr>th,table>tfoot>tr>td,table>tfoot>tr>th,table>thead>tr>td,table>thead>tr>th {
    font-size: 1rem;
    color: #fff;
    padding: 6px;
    line-height: 1.5;
    border-top: 1px solid rgba(7,34,62,.75);
    white-space: nowrap
}

.cbi-button,.cbi-section-table-cell,.cbi-section-table-row {
    text-align: center
}

#conns>div,#membuff>div,#memcache>div,#memfree>div,#memtotal>div,#swapcache>div,#swapfree>div,#swaptotal>div {
    width: 100%!important;
    border-color: #ccc!important;
    height: 20px!important;
    color: #76838f!important
}

#conns>div>div,#membuff>div>div,#memcache>div>div,#memfree>div>div,#memtotal>div>div,#swapcache>div>div,#swapfree>div>div,#swaptotal>div>div {
    height: 1.4rem!important;
    background-color: #64b5f6!important
}

.cbi-value-field .table,.cbi-value-field table,.cbi-value-field>.table>.tbody>.tr>.td,.cbi-value-field>table>tbody>tr>td,.table .table,.td>.table>.tbody>.tr>.td,table table,td>table>tbody>tr>td {
    border: 0
}

.cbi-button {
    align-items: center;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.25;
    outline: 0;
    padding: .625rem .9375rem;
    position: relative;
    text-transform: none;
    touch-action: manipulation;
    transition: background .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    will-change: background,border,color,opacity;
    -webkit-appearance: none;
    margin-top: -3px
}

.cbi-button-fieldadd {
    border: 1px solid #64b5f6;
    color: #64b5f6;
    margin-top: -3px
}

.cbi-button-fieldadd:hover {
    background: #64b5f6;
    color: #fff
}

.cbi-button-link {
    border: 1px solid #81c784;
    color: #81c784
}

.cbi-button-link:hover {
    background-color: #81c784;
    color: #fff
}

.cbi-button:active,.cbi-button:focus,.cbi-button:hover {
    outline: 0;
    text-decoration: none
}

.cbi-button:focus,.cbi-button:hover {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2)
}

.cbi-button:active {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)
}

.cbi-button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .6;
    box-shadow: none
}

.btn+.btn,.cbi-button+.cbi-button,form.inline+form.inline {
    margin-left: .6rem
}

.cbi-button-reset,.cbi-input-remove {
    color: #fff!important;
    background-color: #ffb74d!important;
    border-color: #ffb74d!important
}

.cbi-button-reset:hover,.cbi-input-remove:hover {
    color: #e6e5e5!important;
    background-color: #ffa21a!important;
    border-color: #ffa21a!important
}

.cbi-button-add,.cbi-button-find,.cbi-button-reload,.cbi-button-save,.cbi-input-find,.cbi-input-reload,.cbi-input-save {
    color: #fff!important;
    background-color: #81c784!important;
    border-color: #81c784!important
}

.cbi-button-add:hover,.cbi-button-find:hover,.cbi-button-reload:hover,.cbi-button-save:hover,.cbi-input-find:hover,.cbi-input-reload:hover,.cbi-input-save:hover {
    color: #e6e5e5!important;
    background-color: #5eb762!important;
    border-color: #5eb762!important
}

.cbi-button-apply,.cbi-button-edit,.cbi-input-apply {
    color: #fff!important;
    background-color: #64b5f6!important;
    border-color: #64b5f6!important
}

.cbi-button-apply:hover,.cbi-button-edit:hover,.cbi-input-apply:hover {
    color: #fff!important;
    background-color: #349ef3!important;
    border-color: #349ef3!important
}

.cbi-button-remove,.cbi-input-reset,.cbi-section-remove>.cbi-button {
    color: #fff!important;
    background-color: #e24d4d!important;
    border-color: #e24d4d!important
}

.cbi-button-remove:hover {
    color: #e6e5e5!important;
    background-color: #d92323!important;
    border-color: #d92323!important
}

.a-to-btn {
    text-decoration: none
}

.cbi-tabmenu,.tabs {
    background: rgba(7,34,62,.5);
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 0
}

.tabs {
    padding-left: .5rem
}

.cbi-tabmenu>li,.tabs>li {
    display: inline-block;
    padding: .9rem 0;
    margin-right: 1.25rem;
    cursor: pointer;
    padding-bottom: .625rem
}

.cbi-tabmenu>li>a {
    padding: .5rem .8rem
}

.cbi-tabmenu>li>a,.tabs>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem
}

.tabs>li:hover,.tabs>li[class~=active] {
    cursor: pointer;
    border-bottom: 2px solid #0ff;
    color: #fff;
    margin-bottom: -.2rem
}

.cbi-tabmenu>li:hover>a,.tabs>li[class~=active]>a {
    color: #fff
}

.cbi-tabmenu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: .625rem 0 0 1.875rem;
    overflow-x: auto
}

.cbi-tabmenu>li[class~=cbi-tab-disabled],.cbi-tabmenu>li[class~=cbi-tab] {
    border-bottom: 2px solid #0ff;
    opacity: 1;
    margin-right: 1.25rem;
    cursor: pointer;
    padding-bottom: .625rem;
    transition: border-color .2s ease-in-out,color .2s ease-in-out,opacity .2s ease-in-out;
    white-space: nowrap
}

.cbi-tabmenu>li[class~=cbi-tab-disabled] {
    border-bottom: 2px solid transparent;
    opacity: .7
}

.cbi-tabmenu>li[class~=cbi-tab-disabled]:hover {
    opacity: 1;
    border-bottom: 2px solid #0ff
}

.cbi-section-node-tabbed {
    padding: 0;
    margin-top: 0
}

.cbi-tabcontainer {
    clear: both
}

.cbi-value-description,.cbi-value-field {
    display: table-cell
}

.cbi-dropdown>ul.preview,.cbi-value-helpicon>img {
    display: none
}

.cbi-value-helpicon:before {
    font-family: 'HomeLedeIcomoon'!important;
    content: "\ea09"
}

.cbi-value-description {
    font-size: small;
    opacity: .7;
    padding: .5rem 0 0
}

.cbi-value-title {
    word-wrap: break-word;
    line-height: 150%;
    vertical-align: middle;
    padding: 6px 10px;
    width: 23rem;
    float: left;
    text-align: right;
    display: table-cell
}

.cbi-value {
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
    width: 100%
}

.cbi-section-table-descr>.cbi-section-table-cell,.cbi-section-table-titles>.cbi-section-table-cell {
    border: 0
}

.cbi-rowstyle-1,.cbi-rowstyle-2 {
    background-color: transparent
}

.cbi-rowstyle-2 .cbi-button-down,.cbi-rowstyle-2 .cbi-button-up {
    background-color: #9876aa!important
}

.cbi-section-table .cbi-section-table-titles .cbi-section-table-cell {
    width: auto!important
}

.cbi-map-descr,.cbi-section-descr {
    margin-bottom: 10px;
    padding-left: 5px;
    color: #03a9f4;
    font-size: small
}

.cbi-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    padding: 0;
    height: auto
}

.cbi-dropdown:focus {
    outline: 2px solid #4b6e9b
}

.cbi-dropdown>ul {
    margin: 0!important;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    width: 100%
}

.cbi-dropdown>.open {
    border: 2px outset #eee;
    flex-basis: 15px;
    background: #eee
}

.cbi-dropdown>.more,.cbi-dropdown>.open {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2em;
    padding: 0 .25em
}

.cbi-dropdown>.more,.cbi-dropdown>ul>li[placeholder] {
    color: #777;
    font-weight: 700;
    text-shadow: 1px 1px 0 #fff;
    display: none
}

.cbi-dropdown>ul>li {
    display: none;
    padding: .25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: center;
    align-self: center;
    min-height: 20px
}

.cbi-dropdown>ul>li .hide-open {
    display: initial
}

.cbi-dropdown>ul>li .hide-close,.cbi-dropdown[open]>ul.dropdown>li .hide-open,.hidden {
    display: none
}

.cbi-dropdown>ul>li[display]:not([display="0"]) {
    border-left: 1px solid #ccc
}

.cbi-dropdown[empty]>ul {
    max-width: 1px
}

.cbi-dropdown>ul>li>form {
    display: none;
    margin: 0;
    padding: 0;
    pointer-events: none
}

.cbi-dropdown>ul>li img {
    vertical-align: middle;
    margin-right: .25em
}

.cbi-dropdown>ul>li>form>input[type=checkbox] {
    margin: 0;
    height: auto
}

.cbi-dropdown>ul>li input[type=text] {
    height: 20px
}

.cbi-dropdown[open] {
    position: relative
}

.cbi-dropdown[open]>ul.dropdown {
    display: block;
    background: #f6f6f5;
    border: 1px solid #918e8c;
    box-shadow: 0 0 4px #918e8c;
    position: absolute;
    z-index: 1000;
    max-width: none;
    min-width: 100%;
    width: auto
}

.cbi-dropdown>ul>li[display],.cbi-dropdown[multiple]>ul>li>label,.cbi-dropdown[multiple][empty]>.more,.cbi-dropdown[multiple][more]>.more,.cbi-dropdown[multiple][open]>ul.dropdown>li,.cbi-dropdown[open]>ul.dropdown>li,.cbi-dropdown[open]>ul.preview {
    flex-grow: 1;
    display: flex;
    align-items: center
}

.cbi-dropdown[empty]>ul>li,.cbi-dropdown[multiple][open]>ul.dropdown>li>form,.cbi-dropdown[optional][open]>ul.dropdown>li[placeholder] {
    display: block
}

.cbi-dropdown[open]>ul.dropdown>li .hide-close {
    display: initial
}

.cbi-dropdown[open]>ul.dropdown>li {
    border-bottom: 1px solid #ccc
}

.cbi-dropdown[open]>ul.dropdown>li[selected] {
    background: #b0d0f0
}

.cbi-dropdown[open]>ul.dropdown>li.focus {
    background: linear-gradient(90deg,#a3c2e8 0,#84aad9 100%)
}

.cbi-dropdown[open]>ul.dropdown>li:last-child {
    margin-bottom: 0;
    border-bottom: none
}

.cbi-dropdown[disabled] {
    pointer-events: none;
    opacity: .6
}

.cbi-dropdown .zonebadge {
    width: 100%
}

.cbi-dropdown[open] .zonebadge {
    width: auto
}

.left {
    text-align: left!important
}

.right {
    text-align: right!important
}

.center {
    text-align: center!important
}

.inline {
    display: inline
}

.cbi-page-actions {
    text-align: right
}

.cbi-value input[type=password],.cbi-value input[type=text],.cbi-value-field .cbi-dropdown {
    min-width: 15rem
}

.cbi-value-field .cbi-input-select {
    width: 15rem
}

.ifacebadge {
    display: inline-flex;
    padding: .5rem 1rem;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #07223e;
    background-color: rgba(7,34,62,.5)
}

.td>.ifacebadge,td>.ifacebadge {
    background-color: #f0f0f0;
    font-size: .9rem
}

.ifacebadge>em,.ifacebadge>img {
    display: inline-block;
    margin: 0 .2rem;
    align-self: start
}

.ifacebadge>img+img {
    margin: 0 .2rem 0 0
}

.network-status-table,.network-status-table .ifacebox-body>div {
    display: flex;
    flex-wrap: wrap
}

.network-status-table .ifacebox {
    margin: .5em;
    flex-grow: 1
}

.network-status-table .ifacebox-body {
    display: flex;
    flex-direction: column;
    height: 100%
}

.network-status-table .ifacebox-body>span {
    flex: 10
}

.network-status-table .ifacebox-body .ifacebadge {
    flex: 1;
    margin: .5em .25em 0;
    padding: .5em;
    min-width: 220px;
    background-color: #fff;
    align-items: center
}

#syslog,.cbi-input-textarea {
    font-size: 1.2rem;
    line-height: 120%;
    scrollbar-color: rgba(238,238,238,.5) rgba(50,50,50,.3);
    scrollbar-width: thin
}

.cbi-input-textarea {
    color: #7fff00;
    padding: 6px 10px;
    margin: 0;
    font-family: Arial,'PingFang SC','Microsoft Yahei',sans-serif;
    border: 1px solid #e4eaec;
    background-color: #2b2b2b;
    transition: color 150ms ease,border-color 150ms ease,opacity 150ms ease;
    -webkit-transition: color 150ms ease,border-color 150ms ease,opacity 150ms ease;
    outline-style: none;
    vertical-align: baseline;
    border-radius: 3px
}

#syslog {
    width: 100%;
    min-height: 15rem;
    padding: 1rem;
    color: #a9b7c6;
    margin-bottom: 20px;
    border-radius: 0;
    background-color: rgba(7,34,62,.75);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
    border: 0;
    font-family: "Hack Nerd Font Mono",Monospaced,monospace
}

#wan4_i,#wan6_i {
    width: 50px!important
}

.uci-change-list {
    font-family: "Hack Nerd Font Mono",Monospaced,monospace
}

.uci-change-legend-label ins,.uci-change-list ins {
    text-decoration: none;
    border: 1px solid #0f0;
    display: block;
    padding: 2px
}

.uci-change-legend-label del,.uci-change-legend-label var,.uci-change-list del,.uci-change-list var {
    text-decoration: none;
    border: 1px solid red;
    display: block;
    font-style: normal;
    padding: 2px
}

.uci-change-legend-label var,.uci-change-list var {
    border: 1px solid #ccc
}

.uci-change-list var del,.uci-change-list var ins {
    border: 0;
    white-space: pre;
    font-style: normal;
    padding: 0
}

.uci-change-legend {
    padding: 5px
}

.uci-change-legend-label {
    width: 150px;
    float: left
}

.uci-change-legend-label>del,.uci-change-legend-label>ins,.uci-change-legend-label>var {
    float: left;
    margin-right: 4px;
    width: 10px;
    height: 10px;
    display: block
}

.uci-change-legend-label var del,.uci-change-legend-label var ins {
    line-height: 6px;
    border: 0
}

.uci-change-list del,.uci-change-list ins,.uci-change-list var {
    padding: .5rem
}

#bwsvg,#iwsvg,#iwsvg2 {
    border: 1px solid #e4eaec!important;
    border-top: none!important
}

.ifacebox {
    border: 1px solid #07223e;
    background-color: rgba(7,34,62,.5);
    display: inline-flex;
    flex-direction: column;
    line-height: 1.2em;
    min-width: 100px
}

.ifacebox-head {
    padding: .25em;
    background: #eee
}

.ifacebox-head.active {
    background: #90c0e0
}

.ifacebox-body {
    padding: .25em
}

.ifacebox strong {
    color: #76838f
}

.cbi-image-button {
    margin: 5px 10px
}

.zonebadge {
    padding: .2rem .5rem;
    display: inline-block;
    cursor: pointer
}

.zonebadge>.ifacebadge {
    padding: .2rem .3rem;
    margin: .1rem .2rem;
    border: 1px solid #6c6c6c
}

.zonebadge>input[type=text] {
    padding: .16rem 1rem;
    min-width: 10rem;
    margin-top: .3rem
}

.zonebadge>em,.zonebadge>strong {
    margin: 0 .2rem;
    display: inline-block
}

.cbi-value-field .cbi-input-checkbox,.cbi-value-field .cbi-input-radio {
    vertical-align: middle;
    width: 1.3rem;
    height: 1.3rem;
    margin-top: .75rem
}

.cbi-value-field>ul>li {
    display: flex
}

.cbi-value-field>ul>li>label {
    margin-top: .5rem
}

.cbi-value-field>ul>li .ifacebadge {
    background-color: #07223e;
    margin-left: .4rem;
    margin-top: -.5rem
}

.cbi-section-table-row>.cbi-value-field .cbi-dropdown,.cbi-section-table-row>.cbi-value-field .cbi-input-select {
    min-width: 7rem
}

.cbi-section-create>.cbi-button-add {
    margin: .5rem
}

.td.cbi-value-field var,div.cbi-value var,td.cbi-value-field var {
    font-style: italic;
    color: #ffc66d
}

small {
    font-size: small;
    white-space: normal;
    color: #fff
}

.cbi-button-down,.cbi-button-up {
    display: inline-block;
    min-width: 0;
    padding: .2rem .3rem;
    font-size: 10pt;
    background-color: #9876aa
}

.cbi-optionals {
    padding: 1rem 1rem 0;
    border-top: 1px solid #ccc
}

#diag-rc-output>pre,.showSide:before {
    font-family: Arial,'PingFang SC','Microsoft Yahei',sans-serif
}

#diag-rc-output>pre,.label {
    font-size: 10pt;
    border-radius: 3px
}

#diag-rc-output>pre {
    display: block;
    padding: 8.5px;
    margin: 0 0 18px;
    line-height: 1.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #fff;
    background-color: rgba(7,34,62,.5);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
    border: 0
}

input[name=nslookup],input[name=ping],input[name=traceroute] {
    width: 80%
}

header>.container>.pull-right>* {
    position: relative;
    top: .45rem;
    cursor: pointer
}

#xhr_poll_status>.label.success {
    background-color: #14ce14
}

.label {
    padding: .3rem .8rem;
    font-weight: 700;
    color: #fff!important;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: none;
    text-decoration: none
}

.notice {
    background-color: #5bc0de
}

.showSide:before {
    display: none;
    color: #76838f;
    content: "\e029";
    font-weight: 400!important;
    font-size: 14px;
    top: 18px;
    left: 10px;
    position: relative;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.darkMask {
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.56);
    content: "";
    z-index: 99
}

.darkMask,.node-main-login>.main>.main-left {
    display: none
}

.darkMask,.node-main-login>.main>.main-right {
    width: 100%
}

.node-main-login>.main fieldset {
    padding: 5px;
    margin-bottom: 1rem;
    display: inline;
    background: 0 0;
    border: 0;
    box-shadow: none;
    overflow: hidden
}

.node-main-login>.main .cbi-value-title {
    width: 8rem
}

.node-main-login>.main #maincontent {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.node-main-login>.main .container {
    padding: 2rem 4rem;
    margin-top: 2rem!important;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
    text-align: left;
    position: absolute;
    top: calc(50vh - 16rem)
}

.node-main-login>.main form>div:nth-last-child(1) {
    float: right
}

.node-main-login>.main .cbi-value {
    display: block
}

.node-main-login>.main .cbi-value>* {
    display: inline-block!important;
    color: #fff
}

.node-main-login>.main .cbi-input-password,.node-main-login>.main .cbi-input-user {
    min-width: 15rem;
    border-radius: .5rem
}

.node-main-login footer {
    bottom: 0;
    position: absolute;
    width: 100%
}

.node-status-overview>.main fieldset:nth-child(4) .td:nth-child(2),.node-status-processes>.main .table .tr .td:nth-child(3) {
    white-space: normal
}

.cbi-map fieldset h3 {
    padding: 10px 5px
}

.node-system-reboot>.main>.main-right h3,.node-system-reboot>.main>.main-right p {
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(7,34,62,.5)
}

.node-services-samba>.main .cbi-tabcontainer:nth-child(3) .cbi-value-title {
    margin-bottom: 1rem
}

.node-services-samba>.main .cbi-tabcontainer:nth-child(3) .cbi-value-field {
    display: list-item
}

.node-services-samba>.main .cbi-tabcontainer:nth-child(3) .cbi-value-description {
    padding-top: 1rem;
    line-height: 150%
}

.node-system-packages>.main table tr td:nth-child(1) {
    width: auto!important
}

.node-system-packages>.main table tr td:nth-last-child(1) {
    white-space: normal;
    font-size: small;
    color: #fff
}

.node-system-packages>.main .cbi-tabmenu>li>a,.tabs>li>a {
    padding: .5rem 1rem
}

.node-system-packages>.main .cbi-value>pre {
    overflow: auto;
    border: 0;
    font-family: Arial,'PingFang SC','Microsoft Yahei',sans-serif
}

.cbi-tabmenu+.cbi-section,.node-status-iptables fieldset,.node-system-flashops fieldset,.node-system-packages fieldset {
    margin-top: 0
}

.node-network-firewall>.main .cbi-section-table-row>.cbi-value-field .cbi-input-select {
    min-width: 4rem
}

#cbi-firewall-redirect table *,#cbi-firewall-zone table *,#cbi-network-switch_vlan table * {
    font-size: small
}

#cbi-firewall-redirect table input[type=text],#cbi-firewall-zone table input[type=text],#cbi-network-switch_vlan table input[type=text] {
    width: 5rem
}

#cbi-firewall-redirect table select,#cbi-firewall-zone table select,#cbi-network-switch_vlan table select {
    min-width: 3.5rem
}

body.lang_pl.node-main-login .cbi-value-title {
    width: 12rem
}

#cbi-beamInDocker-beam-beamInDocker_status>div,#cbi-beamInDocker-beam-version>div,div#cbi-beamInDocker.cbi-map .cbi-value div.cbi-value-field font#beamInDocker-download_status.beamInDocker-download_status,div#cbi-beamInDocker.cbi-map .cbi-value div.cbi-value-field font.ipsec-server_status,div#cbi-homeconnect.cbi-map .cbi-value div.cbi-value-field>font.softethervpn_status,div#cbi-ipsec.cbi-map .cbi-value div.cbi-value-field font.ipsec-server_status,div#cbi-kodexplorer.cbi-map div#_nginx_status.cbi-value-field font,div#cbi-kodexplorer.cbi-map div#_php_status.cbi-value-field font,div#cbi-softethervpn.cbi-map .cbi-value div.cbi-value-field font.softethervpn_status,div#cbi-strongswanInDocker.cbi-map .cbi-value div.cbi-value-field font#strongswanInDocker-download_status.strongswanInDocker-download_status,div#cbi-strongswanInDocker.cbi-map .cbi-value div.cbi-value-field font.ipsec-server_status,div#cbi-timewol.cbi-map .cbi-value.cbi-value-last div.cbi-value-field font.timewol_status,div#cbi-webrestriction.cbi-map .cbi-value.cbi-value-last div.cbi-value-field font.webrestriction_status,fieldset#cbi-weburl-basic.cbi-section div.cbi-value-field font.weburl_status {
    display: block;
    padding-top: 6px
}

div#cbi-aria2.cbi-map fieldset.cbi-section div.cbi-section-descr input#use_websocket {
    vertical-align: middle
}

pre#beamInDocker_download_log_viewer,pre#strongswanInDocker_download_log_viewer {
    height: 15rem;
    overflow: scroll
}

div#cbi-docker.cbi-map div.pure-g.status,div#cbi-dockerd.cbi-map div.pure-g.status {
    margin: 1rem 0;
    padding: 0 1rem;
    background-color: rgba(7,34,62,.5)
}

div#cbi-dockerd.cbi-map div.pure-g.status div.pure-u-1-4 div.block.pure-g div.pure-u-2-5 div.img-con svg {
    fill: #fff
}

.node-system-packages>.main .cbi-value>pre,pre#beamInDocker_download_log_viewer,pre#strongswanInDocker_download_log_viewer,textarea.ddns_logview {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 120%;
    color: #a9b7c6;
    margin-bottom: 20px;
    border-radius: 0;
    background-color: rgba(7,34,62,.75);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
    scrollbar-color: rgba(238,238,238,.5) rgba(50,50,50,.3);
    scrollbar-width: thin
}

pre#beamInDocker_download_log_viewer,pre#strongswanInDocker_download_log_viewer,textarea.ddns_logview {
    border: 1px solid #e4eaec;
    width: 100%;
    min-height: 15rem;
    font-family: "Hack Nerd Font Mono",Monospaced,monospace
}

#_passwall_status_fieldset>div>div:nth-child(10)>div>div.pure-u-1-5>div>img {
    filter: invert(100%)
}

div#cbi-passwall.cbi-map fieldset>fieldset>div>div>div label {
    padding: 7px 10px
}

div#cbi-passwall.cbi-map fieldset>fieldset>div>div>div label input.cbi-input-checkbox {
    vertical-align: top;
    margin-top: 3px
}

div#cbi-passwall.cbi-map div#set_node_div {
    background: rgba(7,34,62,.9)
}

div#cbi-passwall.cbi-map fieldset>fieldset>div#add_link_div {
    position: fixed;
    width: 55rem;
    height: 20rem
}

#add_link_div>div:nth-child(1)>label {
    width: 30rem
}

#add_link_div>div>div>textarea#nodes_link {
    width: 52rem;
    height: 10rem
}

fieldset#cbi-passwall-nodes>div.cbi-section-node input.cbi-input-checkbox.nodes_select {
    vertical-align: top;
    margin-top: 5px;
    width: 1.3rem;
    height: 1.3rem
}

@media screen and (max-width:1600px) {
    .main,.main-left {
        top: 4.5rem
    }

    .main-right {
        top: 4.5rem;
        width: calc(100% - 18rem)
    }

    .btn,.cbi-button {
        padding: .3rem .6rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .5rem
    }

    header>.container>.pull-right>* {
        top: .35rem
    }

    .label {
        padding: .2rem .6rem
    }

    .cbi-value-title {
        width: 16rem;
        padding-right: .6rem
    }

    fieldset {
        padding: 1rem
    }

    .cbi-input-textarea {
        font-size: small
    }

    .node-status-iptables>.main fieldset li>a {
        padding: .3rem .6rem
    }
}

@media screen and (max-width:1280px) {
    header {
        height: 4rem
    }

    header>.container>.brand {
        line-height: 50px;
        height: 4rem;
        width: 17rem
    }

    .main,.main-left {
        top: 4rem;
        height: calc(100% - 4rem)
    }

    .main-left {
        width: calc(0% + 17rem)
    }

    .main-right {
        top: 4rem;
        width: calc(100% - 17rem)
    }

    .cbi-tabmenu>li>a,.tabs>li>a {
        padding: .2rem .5rem
    }

    .panel-title {
        font-size: 1.3rem;
        padding-bottom: 1rem
    }

    table {
        font-size: .8rem!important;
        width: 100%!important
    }

    .main>.main-left>.nav>.slide>.menu,.main>.main-left>.nav>li,.main>.main-left>.nav>li a {
        font-size: 1.1rem
    }

    .main>.main-left>.nav>.slide>.slide-menu>li>a {
        font-size: .9rem
    }
}

@media screen and (max-width:992px) {
    body>header>div>a.brandWithBackground {
        background: url(../images/brand.png) 50% 50%/126px 37px no-repeat rgba(7,34,62,.8)
    }

    html {
        font-size: 8pt
    }

    header {
        height: 3.5rem
    }

    header>.container>.brand {
        font-size: 1.1rem;
        height: 3.5rem;
        line-height: 3.5rem;
        width: calc(0% + 15rem);
        padding-left: 5px;
        padding-right: 20px;
        font-family: Apple Chancery,"Edwardian Script ITC",Arial,sans-serif
    }

    .main {
        top: 3.5rem
    }

    .main-left {
        width: 0;
        position: fixed;
        z-index: 100;
        background: #07223e!important;
        opacity: .8;
        top: 3.5rem
    }

    .main-right {
        width: 100%;
        top: 3.5rem
    }

    .showSide {
        margin: 0;
        padding: 0;
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%
    }

    .showSide:before {
        content: "\e20e";
        font-size: 1.7rem
    }

    .node-main-login .showSide {
        display: none!important
    }

    .cbi-value-title {
        width: 9rem;
        padding-right: 1rem
    }

    .node-network-diagnostics>.main .cbi-map fieldset>div,.node-network-diagnostics>.main .cbi-map fieldset>div * {
        width: 100%!important
    }

    .node-network-diagnostics>.main .cbi-map fieldset>div input[type=text] {
        margin: 3rem 0 0!important
    }

    .node-network-diagnostics>.main .cbi-map fieldset>div:nth-child(4) input[type=text] {
        margin: 0!important
    }

    .node-network-diagnostics>.main .cbi-map fieldset>div input[type=button],.node-network-diagnostics>.main .cbi-map fieldset>div select {
        margin: 1rem 0 0
    }

    #diag-rc-output>pre {
        font-size: 1.2rem
    }

    .node-main-login>.main .cbi-value-title {
        text-align: left
    }
}

@media screen and (max-width:480px) {
    fieldset {
        padding: 1rem;
        margin: 1rem 0 0;
        overflow-x: auto
    }

    .tabs {
        margin: 0 -1rem
    }

    #maincontent>.container {
        margin: 0 1rem 1.5rem
    }

    .main>.main-left>.nav>.slide>.menu {
        font-size: 1.3rem
    }

    .main>.main-left>.nav>.slide>.slide-menu>li>a {
        font-size: 1.1rem
    }

    .cbi-value-title {
        width: 100%;
        min-width: 0!important;
        display: block;
        margin-top: 1rem;
        margin-bottom: .5rem;
        text-align: left
    }

    .cbi-value-description,.cbi-value-field,.node-system-packages>.main .cbi-value .cbi-value-field input {
        width: 100%
    }

    .cbi-value>.cbi-value-field {
        display: inline-block
    }

    .cbi-tabmenu>li,.tabs>li {
        padding: .6rem 0
    }

    .cbi-tabmenu>li>a {
        font-size: .9rem
    }

    .cbi-tabmenu>li>a,.tabs>li>a {
        padding: .2rem .3rem
    }

    .cbi-page-actions>div>input,.mobile-hide {
        display: none
    }

    .node-main-login>.main .container {
        padding: .5rem 1rem 2rem
    }

    .node-main-login>.main .cbi-value {
        padding: 0
    }

    .node-main-login>.main form>div:nth-last-child(1) {
        margin-top: 2rem
    }

    .node-main-login>.main .cbi-value-title {
        width: 100%!important;
        font-size: 1.2rem
    }

    .node-main-login>.main fieldset {
        margin: 0;
        padding: .5rem
    }

    body {
        font-size: .9rem!important
    }

    h2 {
        font-size: 1.2rem
    }

    .tabs>li>a,input,select {
        font-size: .9rem
    }

    .panel-title {
        font-size: 1.1rem;
        padding-bottom: 1rem
    }

    .node-system-packages>.main .cbi-value.cbi-value-last>div {
        width: 100%!important
    }

    .node-status-iptables>.main div>.cbi-map>form {
        position: static!important;
        margin: 0 0 2rem;
        padding: 2rem;
        border: 0;
        font-weight: 400;
        font-style: normal;
        line-height: 1;
        font-family: inherit;
        min-width: inherit;
        border-radius: 0;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
        -webkit-overflow-scrolling: touch
    }

    .node-status-iptables>.main div>.cbi-map>form input[type=submit] {
        width: 100%!important;
        margin: 0
    }

    .node-status-iptables>.main div>.cbi-map>form input[type=submit]+input[type=submit] {
        margin-top: 1rem
    }
}

@media screen and (min-width:992px) {
    .cbi-value input[type=password],.cbi-value input[type=text],.cbi-value-field .cbi-dropdown,.cbi-value-field .cbi-input-select {
        min-width: 20rem
    }
}

@media screen and (min-width:1280px) {
    .cbi-value input[type=password],.cbi-value input[type=text],.cbi-value-field .cbi-dropdown,.cbi-value-field .cbi-input-select {
        min-width: 22rem
    }
}

@media screen and (min-width:1600px) {
    .cbi-value input[type=password],.cbi-value input[type=text],.cbi-value-field .cbi-dropdown,.cbi-value-field .cbi-input-select {
        min-width: 25rem
    }
}

@media screen and (min-width:2561px),screen and (min-height:1441px) {
    html {
        font-size: 12pt
    }

    body {
        line-height: 200%;
        background: url(../images/main_bg.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center
    }
}

@media only screen and (min-width:1024px) and (max-height:1366px) and (-webkit-min-device-pixel-ratio:2) {
    body {
        background-image: none
    }

    body:after {
        content: "";
        position: fixed;
        top: 0;
        height: 100vh;
        left: 0;
        right: 0;
        z-index: -1;
        background: url(../images/main_bg.jpg) center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover
    }
}